# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json # Nếu dùng npm, có thể bỏ qua file này
yarn.lock # Nếu dùng yarn, có thể bỏ qua file này

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
*.log.*

# Build output
dist/
build/

# Temporary files
*.tmp
*.bak
*.swp
*~

# Editor and IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
.nyc_output/

# Cache
.cache/